.container
  %p.lead
    = @list.name
    %hr

  .row
    %h6 Fill your shopping list.
    %br
    = bootstrap_form_for [@list, @list_item], layout: :inline do |f|
      = f.text_field :name, class: "form-control", placeholder: "Name", hide_label: true
      %button.btn.btn-primary Save
      = link_to "Cancel", @shopping_list, class: "btn btn-default"

