.container
  %p.lead
    = @list.name
    %hr

  .row
    %h6 Fill your shopping list.
    %br
    = form_for [@list, @shopping_list_item], html: { class: "form-inline" } do |f|
      .form-group
        = f.text_field :name, class: "form-control", placeholder: "Name"
      .form-group
        %button.btn.btn-default-btn-wide Save
        = link_to "Cancel", @shopping_list

