= form_for @shopping_list, html: { autocomplete: "off" } do |f|
  .form-group
    = f.text_field :name, class: "form-control", placeholder: "Name"
  .form-group
    %button.btn.btn-default-btn-wide Create Shopping List
