%footer.footer-2.bg-midnight-blue
  .container
    %nav.pull-left
      %ul
        %li.active
          %a{href: "#"} Home
        %li
          %a{href: "#"} Company
        %li
          %a{href: "#"} Portfolio
        %li
          %a{href: "#"} Blog
        %li
          %a{href: "#"} Contact
    .social-btns.pull-right
      %a{href: "#"}
        .fui-vimeo
        .fui-vimeo
      %a{href: "#"}
        .fui-facebook
        .fui-facebook
      %a{href: "#"}
        .fui-twitter
        .fui-twitter
    .additional-links
      Be sure to take a look to our
      %a{href: "#"} Terms of Use
      and
      %a{href: "#"} Privacy Policy
