%header.top-menu
  = link_to root_path do
    %h2.logo Expenses
  %nav.top-menu-nav
    %ul.top-menu-nav-list
      %li
        = link_to "Add Item", new_item_path
      %li
        %a(href= "#") Products
      %li
        %a(href= "#") Pricing
      %li
        %a(href= "#") About
