%header.top-menu
  %h2.logo Expenses
  %nav.top-menu-nav
    %ul.top-menu-nav-list
      %li
        %a(href= "#") Mailer
      %li
        %a(href= "#") Products
      %li
        %a(href= "#") Pricing
      %li
        %a(href= "#") About
  .search-container
    %input.search-box(type="text" placeholder="Search")