.dialog.dialog-info.contain
  %form
    %input.control#from_date(type="text" placeholder="from date")
    %input.control#to_date(type="text" placeholder="to date")
    %input.btn.btn-default.btn-xs(type="submit" value="Search")
