.page-wrapper
  / content-23
  %section.content-23.v-center.bg-midnight-blue
    %div
      .container
        .hero-unit.hero-unit-bordered
          %h1 Made in New York
    %a.control-btn.fui-triangle-down-small{href: "#"}
  .delimiter
  / demo
  %section.demo
    .container
      .row
        .col-sm-12.img
          %img{height: "48", src: "/demo.gif", width: "48"}/
      .row
        .col-sm-12
          %h3 We have a full version of Startup Framework
      .row
        .col-sm-6.col-sm-offset-3.centered
          %p
            You will find there all the components and blocks you can use for creating a website.
          %a.btn{href: "http://designmodo.com/startup/?utm_source=demo&utm_medium=demo&utm_campaign=demo"} Watch the Presentation
