.content
  #home.col-md-4.col-md-offset-4
    %h6 Add New Expense
    .form-group
      %input.form-control{placeholder: "Name", type: "text"}/
    .form-group
      %input.form-control{placeholder: "Shop", type: "text"}/
    %h6 Or
    .form-group
      %button.btn.btn-default.btn-wide Sign Up