.dialog.dialog-info.contain
  %form
    %input.control#from_date(name="s" type="text" placeholder="from date")
    %input.control#to_date(name = "e" type="text" placeholder="to date")
    %input.btn.btn-default.btn-xs(type="submit" value="Search")
