- if @results.empty?
  .container
    .row
      %h6 Your search did not match any items.

      %h6 Suggestions:

      %ul.search
        %li Try different search criteria.
- else
  = render 'items', obj: @results
